<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TelerikMvc.Data.Properties.Settings.TelerikExamplesConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=TelerikExamples;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>