@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chris Farrell</h2>

<div>Twitter: @Html.Raw("@chrispfarrell.com")</div>
<div>Email:  chrispfarrell@gmail.com or cfarrell@quicksolutions.com</div>
<div>GitHub:  <a href="https://github.com/chrispfarrell" target="_blank">https://github.com/chrispfarrell</a></div>

