
@model List<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid Binding Demos</h2>
<ol>
    <li><a href="/Grid/StaticBinding">Static Binding</a></li>
    <li><a href="/Grid/AjaxBinding">AJAX Binding</a></li>
    <li><a href="/Grid/ManualPaging">Manual Paging(ex, binding to a sproc)</a></li>
    <li><a href="/Grid/SearchForm">Search Example</a></li>
</ol>


<h2>Other Demos</h2>
<ol>
  <li><a href="http://demos.telerik.com/aspnet-mvc/razor/grid/editingbatch" target="_blank">Editing</a></li>

 
</ol>